<div class="row hidden-xs">
    <div class="col-sm-12">
        <h4><b class="col-sm-12">Current Price:</b></h4>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="col-sm-6"><h4> {{ ctrl.product.price | currency }}</h4></div>
        <div class="col-sm-6"><h4>[5&nbsp;bids]</h4></div>
        <div class="col-sm-12"><h4><b>Time left</b>: {{ ctrl.product.timeleft }}h</h4> </div>
        <div class="col-sm-12"><b>{{ctrl.date}}</b></div>
    </div>
    <div class="col-sm-12 col-md-4" >
        <form class="form-horizontal" role="form" style="padding:0 30px;">
            <div class="form-group">
                <input type="text" class="form-control" value="">
            </div>
            <div class="form-group">
                <button class="btn btn-default btn-block btn-primary">Place bid</button>
            </div>
        </form>
    </div>
</div>

<div class="row hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12">
        <div class="col-xs-6">
            <h4 class="col-xs-12">{{ ctrl.product.price | currency }}</h4>
            <p class="col-xs-12">[5&nbsp;bids]</p>
        </div>
        <div class="col-xs-6">
            <h4 class="col-xs-12"><b>Current Price</b></h4>
            <p class="col-xs-12"><b>Time left</b>: {{ ctrl.product.timeleft }}h</p>
        </div>
    </div>
    <div class="col-xs-12">
        <form class="form-horizontal" role="form" style="padding:0 30px;">
            <div class="form-group">
                <input type="text" class="form-control" value="">
            </div>
            <div class="form-group">
                <button class="btn btn-default btn-block btn-primary">Place bid</button>
            </div>
        </form>
    </div>
</div>