<div class="row well">

    <div class="col-xs-12 col-sm-10">
        <ol class="breadcrumb">
            <li><a ng-href="#/">Home</a></li>
            <li><a href="javascript:void(0)">Category title</a></li>
            <li class="active">Item</li>
        </ol>
    </div>

    <div class="col-xs-12 col-sm-2">
        <button ng-hide="ctrl.isSearchFormVisible" ng-click="ctrl.isSearchFormVisible = true"  class="btn btn-default btn-block">Find more</button>
        <button ng-show="ctrl.isSearchFormVisible" ng-click="ctrl.isSearchFormVisible = false" class="close" aria-hidden="true">&times;</button>
    </div>
    <div ng-show="ctrl.isSearchFormVisible"></div>

</div>

<br/>

<div class="row hidden-xs">
    <div class="col-sm-6 col-lg-5 text-center">
        <img ng-src="images/{{ ctrl.product.thumb }}" alt="" class="img-responsive center-block">
        <hr>
        <div class="row">
            <auction-carousel-mock></auction-carousel-mock>
        </div>
        <hr>
        <h5>
            <span class="badge"><span class="glyphicon glyphicon-eye-open"></span></span> {{ ctrl.product.watchers }} Watchers <a
                href="javascript:void(0);" class="btn">Watch</a>
        </h5>
    </div>

    <div class="col-sm-6 col-lg-7">
        <div style="padding-left: 15px">
            <auction-product-title></auction-product-title>
        </div>
        <auction-bids></auction-bids>

        <div class="col-xs-12"><b>Item's description</b>:  {{ ctrl.product.description }}
        </div>
    </div>
</div>

<div class="row hidden-sm hidden-md hidde-lg">
    <div class="row" style="padding:0px 30px">
        <div class="col-xs-5"><img ng-src="images/{{ ctrl.product.thumb }}" alt="" class="img-responsive center-block"></div>
        <div class="col-xs-7"><auction-product-title></auction-product-title></div>
    </div>
    <div class="col-sm-6 col-lg-5 text-center">

        <hr>
        <div class="row">
            <auction-carousel-mock></auction-carousel-mock>
        </div>
        <hr>
        <h5>
            <span class="badge"><span class="glyphicon glyphicon-eye-open"></span></span> {{ ctrl.product.watchers }} Watchers <a
                href="javascript:void(0);" class="btn">Watch</a>
        </h5>
    </div>

    <div class="col-sm-6 col-lg-7">
        <div style="padding-left: 15px">

        </div>
        <auction-bids></auction-bids>

        <div class="col-xs-12"><b>Item's description</b>:  {{ ctrl.product.description }}
        </div>
    </div>
</div>