<div class="row well" style="padding-left: 15px; padding-right: 15px">
    <div class = row >
        <div class="col-x-12 col-sm-9">
            <ol class = "breadcrumb ">
                <li><a href="#">Home</a></li>
                <li><a href="javascript:void(0)">Category title</a></li>
                <li class = "active">Item</li>
            </ol>
        </div>

        <div class="col-x-12 col-sm-3">
            <button class="form-control">Find More</button>
        </div>
        <hr>
    </div>
</div>